{% extends 'default.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Настройка часового пояса" %}</h2>

    <form action="{% url 'set_timezone' %}" method="POST">
        {% csrf_token %}
        <label for="timezone">{% trans "Выберите ваш регион:" %}</label>
        <select name="timezone" id="timezone">
            {% for tz in timezones %}
                <option value="{{ tz }}" {% if tz == request.session.django_timezone %}selected{% endif %}>
                    {{ tz }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Сохранить' %}">
    </form>
{% endblock content %}