{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Защищенная страница</title>
</head>
<body>
    <h1>Привет, {{ user.username }}!</h1>

    <hr>

    <p>Эта страница доступна только авторизованным пользователям.</p>

    {% if is_not_author %}
        <button>
            <a href="{% url 'upgrade' %}"> Хочу стать автором! </a>
        </button>
    {% else %}
        <p>🎉 Вы уже являетесь автором нашего портала!</p>
    {% endif %}

    <hr>
    <p><a href="{% url 'account_logout' %}">Выйти</a></p>

</body>
</html>