<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Еженедельная рассылка новостей</title>
</head>
<body>
    <h2>Привет! Вот новые статьи в твоих любимых категориях за прошедшую неделю:</h2>
    <hr>
    <ul>
        {% for post in posts %}
            <li>
                <strong><a href="{{ link }}{{ post.get_absolute_url }}">{{ post.title }}</a></strong>
                <br>
                <em>Категория: {{ post.category.name }}</em>
                <p>{{ post.text|truncatechars:100 }}</p>
            </li>
        {% empty %}
            <li>За последнюю неделю новых статей не появилось.</li>
        {% endfor %}
    </ul>
    <hr>
    <p>Вы получили это письмо, так как подписаны на обновления категорий на нашем <a href="{{ link }}">Новостном портале</a>.</p>
</body>
</html>