{% extends 'default.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Последние новости" %}</h1>
    <hr>

    {% if posts %}
        <h2>{% trans "Всего новостей" %}: {{ posts|length }}</h2>

        {% for post in posts %}
            <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
            <p>
                {% trans "Автор" %}: {{ post.author.user.username }} |
                {% trans "Дата" %}: {{ post.time_in|date:"d M Y" }} |
                {% trans "Рейтинг" %}: {{ post.rating }}
            </p>

            <p>
                {% trans "Категории" %}:
                {% for category in post.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category.name }}</a>
                {% endfor %}
            </p>
            <p>{{ post.text|truncatechars:100 }}</p>
            <hr>
        {% endfor %}

        <div>

            {% if page_obj.has_previous %}
                <a href="?page=1">{% trans "Первая" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">←</a>
            {% endif %}

            <span>
                {% trans "Страница" %} {{ page_obj.number }} {% trans "из" %} {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">→</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Последняя" %}</a>
            {% endif %}
        </div>

    {% else %}
        <h2>{% trans "Новостей нет!" %}</h2>
    {% endif %}
{% endblock content %}