<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список всех постов</title>
</head>
<body>
    <h1>Все новости и статьи</h1>

    {% for post in posts %}
    <hr>
    <h3>{{ post.title }}</h3>
    <p>
        Дата публикации: {{ post.time_in|date:"d M Y" }} |
        Автор: {{ post.author.user.username }} |
        Рейтинг: {{ post.rating }}
    </p>
    <p>{{ post.text }}</p> <h4>Комментарии ({{ post.comment_set.count }}):</h4>
    <ul>
        {% for comment in post.comment_set.all %}
            <li>
                <strong>{{ comment.user.username }}</strong> (Рейтинг: {{ comment.rating }}):
                {{ comment.text }}
            </li>
        {% empty %}
            <li>Нет комментариев.</li>
        {% endfor %}
    </ul>
    {% endfor %} <hr>
    <p>Всего найдено постов: {{ posts|length }}</p>
</body>
</html>