{% load censor %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <div class="container">
       <h1>{{ post.title|censor }}</h1>
        <small>Тип: {{ post.post_type }}</small>

        <hr>

        <p>
            Автор: {{ post.author.user.username }} |
            Дата: {{ post.time_in|date:"d M Y" }} |
            Рейтинг: {{ post.rating }}
        </p>
        <p>Категории:
            {% for category in post.category.all %}
         <a href="{% url 'category_list' category.id %}">{{ category.name }}</a>
            {% endfor %}
        </p>

        <p>{{ post.text|censor }}</p>

        <hr>

        <p>
            <a href="{% url 'post_list' %}">Вернуться к списку новостей</a>
        </p>
    </div>
</body>
</html>